body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#fff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #551572;
}

button{
  background-color:#009bb0;
  color: #fff;
}

label{
  color: #551572;
  display: block;
  text-align: left;
  margin: 5px 0 5px 80px;
}

.login{
  color: #551572;
}

input {
  padding: 3px 10px;
}