body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#fff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #551572;
  font-family: 'Roboto', sans-serif;
}

button{
  background-color:#009bb0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

label{
  color: #551572;
  font-style: 'Roboto', sans-serif;
}

.login{
  color: #551572;
  font-style: 'Roboto', sans-serif;
}